@{
    Layout = "_DashboardLayout";
    List<string> cleaningTasks = (List<string>)ViewData["CleaningTask"];
}
<div class="wrap-collabsible">
    <input id="cleaningTask" class="toggle" type="checkbox" checked>
    <label for="cleaningTask" class="lbl-toggle" tabindex="0">Cleaning Tasks</label>
    <div class="collapsible-content">
        <div class="content-inner">
            @* ------------------------------------------- *@
                       
            @foreach (string c in cleaningTasks)
            {
                string text = c;
                <p>@(text)</p>
                <br />
            }
            <a asp-area="" asp-controller="CleaningTasks" asp-Action="PersonalizedTasks">Complete Tasks</a>

            @* ------------------------------------------- *@
        </div>
    </div>
</div>