@{
    Layout = "_DashboardLayout";
}
<div class="wrap-collabsible">
    <input id="client" class="toggle" type="checkbox">
    <label for="client" class="lbl-toggle" tabindex="0">Today's Cares</label>
    <div class="collapsible-content">
        <div class="content-inner">
            @* ------------------------------------------- *@



            <p>hello cares</p>





            @* ------------------------------------------- *@
        </div>
    </div>
</div>