@{
    Layout = "_DashboardLayout";
    List<string> clients = (List<string>)ViewData["Client"];
}
<div class="wrap-collabsible">
    <input id="client" class="toggle" type="checkbox" checked>
    <label for="client" class="lbl-toggle" tabindex="0">Today's Cares</label>
    <div class="collapsible-content">
        <div class="content-inner">
            @* ------------------------------------------- *@
            @foreach (string c in clients)
            {
                string text = c;
                <p>@(text)</p>
                <br />
            }
            <a asp-area="" asp-controller="Clients" asp-action="Index">View Details</a>
            @* ------------------------------------------- *@
        </div>
    </div>
</div>