@{
    Layout = "_DashboardLayout";
    List<string> employees = (List<string>)ViewData["Employee"];
}
<div class="wrap-collabsible">
    <input id="employee" class="toggle" type="checkbox">
    <label for="employee" class="lbl-toggle" tabindex="0">Schedule</label>
    <div class="collapsible-content">
        <div class="content-inner">
            @* ------------------------------------------- *@
            @foreach (string c in employees)
            {
                string text = c;
                <p>@(text)</p>
                <br/>
            }
            <a asp-area="" asp-controller="Employees" asp-action="Index">View All</a>
            @* ------------------------------------------- *@
        </div>
    </div>
</div>