@{
    Layout = "_DashboardLayout";
    List<string> activities = (List<string>)ViewData["InHouseActivity"];
}
<div class="wrap-collabsible">
    <input id="inHouseActivity" class="toggle" type="checkbox">
    <label for="inHouseActivity" class="lbl-toggle" tabindex="0">In House Activities</label>
    <div class="collapsible-content">
        <div class="content-inner">
            @* ------------------------------------------- *@



            @foreach (string c in activities)
            {
                string text = c;
                <p>@(text)</p>
                <br/>
            }

            <a asp-area="" asp-controller="InHouseActivities" asp-action="Index">View Details</a>

            @* ------------------------------------------- *@
        </div>
    </div>
</div>