@{ 
    Layout = "_DashboardLayout";
}
    <div class="wrap-collabsible">
        <input id="outing" class="toggle" type="checkbox">
        <label for="outing" class="lbl-toggle" tabindex="0">Outings</label>
        <div class="collapsible-content">
            <div class="content-inner">
                @* ------------------------------------------- *@



                <p>hello outings</p>





                @* ------------------------------------------- *@
            </div>
        </div>
    </div>