@{
    Layout = "_DashboardLayout";
    List<string> viewingParties = (List<string>)ViewData["ViewingParty"];
}
<div class="wrap-collabsible">
    <input id="viewingParty" class="toggle" type="checkbox">
    <label for="viewingParty" class="lbl-toggle" tabindex="0">TV Schedule</label>
    <div class="collapsible-content">
        <div class="content-inner">
            @* ------------------------------------------- *@
            @foreach  (string c in viewingParties)
            {
                string text = c;
                <p>@(text)</p>
                <br />
            }
            <a asp-area="" asp-controller="ViewingParties" asp-action="Index">View Details</a>
            @* ------------------------------------------- *@
        </div>
    </div>
</div>