@{
    Layout = "_DashboardLayout";
}
<div class="wrap-collabsible">
    <input id="viewingParty" class="toggle" type="checkbox">
    <label for="viewingParty" class="lbl-toggle" tabindex="0">TV Schedule</label>
    <div class="collapsible-content">
        <div class="content-inner">
            @* ------------------------------------------- *@



            <p>hello tv</p>





            @* ------------------------------------------- *@
        </div>
    </div>
</div>