
@using healthicly.Classes

@{
    ViewData["Title"] = "ShoppingList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ShoppingListItem> shoppingListItems = (List<ShoppingListItem>)ViewData["ShoppingList"];
}

<h2>Shopping List</h2>

<p>
    <a asp-area="" asp-controller="WishListItems" asp-action="Index">Submit a wishlist item</a>
    </p>
<p>
    <a asp-area="" asp-controller="ItemToBuys" asp-action="Index">Submit an item to buy</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in shoppingListItems) {
        <tr>
            <td>
                @(item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
