@{
    Layout = "_SplashLayout";
}
<!DOCTYPE html>
<body>
    <div>

        <div id="demo" class="horizontalCentered">
            <img src="\images\healthiclycrop.png">

        </div>
        <div class="centered">
            <a asp-area="Identity" asp-page="/Account/Login" class="myButton">Login</a>
            <a asp-area="Identity" asp-page="/Account/Register" class="myButton">Sign Up</a>

        </div>

    </div>


</body>