@model healthicly.Models.InHouseActivity

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_SplashLayout.cshtml";
}

<h2>Create</h2>

<h4>InHouseActivity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DayAndTime" class="control-label"></label>
                <input asp-for="DayAndTime" class="form-control" />
                <span asp-validation-for="DayAndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BriefDescription" class="control-label"></label>
                <input asp-for="BriefDescription" class="form-control" />
                <span asp-validation-for="BriefDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

