@model healthicly.ViewModels.CleaningEmployeesViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>CleaningTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CleaningTask.Name" class="control-label"></label>
                <input asp-for="CleaningTask.Name" class="form-control" />
                <span asp-validation-for="CleaningTask.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleaningTask.BriefDescription" class="control-label"></label>
                <input asp-for="CleaningTask.BriefDescription" class="form-control" />
                <span asp-validation-for="CleaningTask.BriefDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CleaningTask.AssignedEmployee" class="control-label">Assigned Employee</label><br/>
                @Html.DropDownListFor(m => m.CleaningTask.AssignedEmployee.Id, Model.EmployeeList, "Employee")<br/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

